#sidebar{
    list-style-type: none;
    margin-left: 10px;
}

.wysija-paragraph{
    float: left;
    min-width: 50%;
    width: 100%
    margin: 8px 0px;
}

@media(max-width: 450px){
    .wysija-paragraph{
        float: inherit;
    }
}

.wysija-paragraph select, input{
    width: 90%;
    border: 0px solid #0F8957;   
}


@media(min-width: 450px){
    #Element-ID_0{
        padding-right: 100%;
    }
}


.widget_wysija p{
    
}

.widget_wysija label, .widget_wysija span{
    color: #646463;
}

.wysija-checkbox{
    max-width: 15px;
    margin: 0 15px 1px 0 !important;
    border:none;
    cursor: pointer;
}

.wysija-submit{
    margin-top: 30px !important;
    width: 207px;
    margin-left:auto;
    margin-right:auto;
    background-color: #e6007d;
    padding: 5px 40px;
    border: none;
    color: #FFF;
    cursor: pointer;
    font-weight: bold;
    -webkit-appearance: none;
    text-align: center !important;
}

/*Vielen Dank für Ihre Anmeldung zur Jubiläumsfeier, über die wir uns sehr freuen! */
.widget_wysija_cont .updated, .widget_wysija_cont .login .message {
    background-color: whitesmoke !important;
    border-color: #EC619F !important;
    border-width: medium !important;
    font-family: 'Source Sans Pro', 'Helvetica', 'Segoe UI Light', 'Segoe UI', 'Lucida Grande', Verdana, Arial, sans-serif !important;
    font-size: 1em !important;
    color: #424242 !important;
}

Element-ID_9{
    margin-bottom: 0px;
}


@media(min-width: 450px){
    #Element-ID_11{
        padding-right: 100%;
    }
}


#Element-ID_11{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 6px;
    text-align: center; 
}

#Element-ID_12{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 6px;
    text-align: center; 
}


input[type=checkbox]:before {
    content:""; 
    display:inline-block; 
    width: 20px; 
    height: 20px; 
    background: white;
    border: 2px solid #0F8957;
    margin-left: -5px;
    margin-top: -5px;   
}

input[type=checkbox]:checked:before {
    background: #0F8957;
    border: 2px solid #0F8957;
}

#Personenangaben{
    font-size: 1em;
    margin-bottom: 6px;
}

/*Checkbox Cursor Bug*/
.wysija-checkbox-label{
cursor: initial !important;
}

.formErrorContent {
background: none repeat scroll 0 0 #e6007d !important;
}
